/* //---------clock css---------------------- */


#currTime {
  height: 50px;
  width: 250px;
  border: 1px solid black;
   font-family: cursive;
  color: rgb(128, 130, 240); 
} 


#clockSlog {
   height: 50px;
  width: 250px;
   border: 1px solid black; 
  font-family: Arial, Helvetica, sans-serif; 
   color: rgba(255, 0, 0, 0.537); 
 }



h2 {
  background-color: rgba(211, 211, 211, 0.55);
} 

/* ---------------------end -------------------*/



























/* css------------ -------props-------------- */
.kg-item {
  background-color: rgba(240, 197, 140, 0.316);
}

.kg-span {
  font-weight: bold;
  color: orange;
}

.food-heading {
  background-color: silver;
  color: rgb(101, 165, 42);
}

/* ------------------end------------------------- */











/* ---------------To-Do-App---------------------css-- */
/* #add {
  background-color: green;
  color: white;
  padding: 6px;
  border-radius: 12px;
  cursor: pointer;
} */
 

/* #del {
  background-color: rgba(255, 34, 0, 0.843);
  padding: 6px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
} */

/* ----------------end--------------------- */








/* -------------calculator Project----------------------- */
#calculator{
  border: 1px solid rgba(0, 0, 0, 0.289);
  width: 200px;
  border-radius: 5px;
}

#display {
  margin: 10px;
  width: 175px;
  font-size: 20px;
}

#buttons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* #btn {
  height: 45px;
  width: 45px;
  margin: 3px;
} */









/* ------------To do app--------------- */
/* https://www.youtube.com/watch?v=zQFzFsbRiB8 */


form {
  width: 1170px;
  margin: auto;
  display: flex;

}


form input {
  flex-basis: 20%;
  gap: 20px;

}

form button {
  flex-basis: 5%;
}

.outerDiv {
  width: 1170px;
  margin: auto;
}

.outerDiv ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.outerDiv li {
  padding: 10px;
  color: white;
  position: relative;
  background-color: black;
  text-align: left;
  margin: 8px;
  width: 400px;
}

.outerDiv span {
  position: absolute;
  right: 0px;
  cursor: pointer;
}



















